/* 
    Created on : May 20, 2018, 10:20:52 AM
    Author     : Arturs K.
*/
$themes: (
aquarium: #099,
default: #0088cc,
banana: #f1c40f,
cherry: #c0392b,
blueberry: #8e44ad,
darkolive:#556B2F,
forest:#228B22,
leaf: #528367,
nightsky: #2980b9,
darknavy:#0a2b58,
latvianred:#740D09,
'salmon':#FA8072,
tangerine:#ff6100,
'fuchsia':#b30047,
saddle:#804000
);
@function set-color($color) {
    @if (lightness($color) > 50) {
        @return #333;
    }
    @else {
        @return #FFF;
    }
}
@function set-icons($color) {
    @if (lightness($color) > 50) {
        @return url("#\{resource['primefaces-bootstrap-blue:images/ui-icons_333333_256x240.png']\}");
    }
    @else {
        @return url("#\{resource['primefaces-bootstrap-blue:images/ui-icons_ffffff_256x240.png']\}");
    }
}
@mixin theme($name, $color) {
    $primary: $color;
    $lighter: lighten($primary, 10%);
    $darker: darken($primary, 10%);
    $navback: hsl(hue($primary), 50%, 95%);
    $hilight: hsl(hue($primary), 50%, 75%);
    $expandedBorderColor: $darker;
    .theme-#{$name} {
        .color-primary {
            color: $primary;
        }
        .color-darker, #navBar .navLink.active, #navBar .color-darker{
            color: $darker;
        }
        #page_header {
            &>.contents:before {
                background: $primary;
                background: -ms-linear-gradient(left,$primary 0,$lighter 100%);
                background: linear-gradient(to right,$primary 0,$lighter 100%);
            }
            &>.contents:after {
                background: $navback;
            }
        }
        #page_left_column {
            .ui-widget-header h3 {
                color: $darker;
                background-color: $navback;
            }
            .ui-menuitem-link {
                border-left-color: $primary;
            }
        }
        #navBar .navLink.langLink.first {
            border-left: 1px solid $primary;
            box-shadow: -1px 0 0 rgba($darker, 0.2);
        }
        .bare-icon-button {
            color: $primary!important;
        }
        .pageTitle, .ui-dialog-title {
            color: $primary;
        }
        th.editable-col  {
            span.ui-column-title:before {
                color:$primary;
            }
        }
        .ui-expanded-row {
            border-top: 2px solid $expandedBorderColor;
            &>td {
                &:last-child {
                    border-right-color:  $expandedBorderColor;
                }
                &:first-child {
                    border-left-color:  $expandedBorderColor;
                }
            }
        }

        .ui-expanded-row-content {
            border: 1px solid  $expandedBorderColor;
            border-bottom-width: 2px;
        }

        .headName {
            text-shadow: -2px -2px 4px $darker,
                2px -2px 4px $darker,
                -2px 2px  4px $darker,
                2px 2px  4px $darker;
        }
        .ui-outputlabel-rfi {
            color: $darker;
            font-weight: bold;
            font-size: 18px;
            font-family: serif;
        }
        label.ui-state-error>.ui-outputlabel-rfi {
            color: inherit;
        }
        input.ui-state-error {
            background-color: #ffeaea;
        }
        .ui-inputfield,
        .ui-widget-content .ui-inputfield,
        .ui-widget-header .ui-inputfield,
        .ui-selectonemenu,
        .ui-selectcheckboxmenu {
            &.ui-state-focus {
                border-color: rgba($lighter, 0.8);
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($lighter, 0.6);
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($lighter, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($lighter, 0.6);
            }
        }
        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            color: #333;
            background-color: $hilight;
            background-image: -moz-linear-gradient(top, $navback, $hilight);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navback), to($hilight));
            background-image: -webkit-linear-gradient(top, $navback, $hilight);
            background-image: -o-linear-gradient(top, $navback, $hilight);
            background-image: linear-gradient(to bottom, $navback, $hilight);
        }

        .ui-button,
        button.ui-button.ui-state-default,
        .ui-button.ui-state-default, .langBullet, .ui-inputswitch .ui-inputswitch-on.ui-state-active,
        legend.ui-fieldset-legend.ui-state-default, .ui-chkbox-box.ui-state-active,
        .ui-progressbar .ui-progressbar-value.ui-widget-header{
            color: set-color($primary);
            background-color: $primary;
            background-image: -moz-linear-gradient(top, $lighter, $primary);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from($lighter), to($primary));
            background-image: -webkit-linear-gradient(top, $lighter, $primary);
            background-image: -o-linear-gradient(top, $lighter, $primary);
            background-image: linear-gradient(to bottom, $lighter, $primary);
            border-color: $primary $primary $darker;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            .ui-icon {
                background-image: set-icons($primary);
            }
        }
        .ui-progressbar .ui-progressbar-label {
            color: white;
            text-shadow: -1px -1px 2px $darker,
                1px -1px 2px $darker,
                -1px 1px  2px $darker,
                1px 1px  2px $darker;
        }
        .ui-menubutton.transparent button {
            @at-root {
                &.ui-button,
                #{selector-unify(&, "button.ui-button.ui-state-default")},
                &.ui-button.ui-state-default {
                    color: #333333;
                    background-color: transparent;
                    background-image: none;
                    outline: none;
                    box-shadow: none;
                    text-shadow: none;
                    border: none;
                    .ui-icon{
                        color: $darker;
                    }
                    .ui-button-text {
                        padding-right: 1.9em;
                    }
                }
            }
        }
        .ui-menuitem {
            .tipped {
                overflow-x: hidden;
                text-overflow: ellipsis;
                .ui-menuitem-text {
                    float: none;
                }
                &:hover {
                    overflow-x: visible;
                }
            }
        }
        .error-icon {
            color: #b94a48;
        }
        .infoTip-icon {
            color: $darker;
            padding-right: 5px;
            vertical-align: middle;
        }
        .infoTip {
            width: 119px;
            display: inline-block;
            white-space: nowrap;
            vertical-align: middle;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        .levelLabel {
            display: inline-block;
            margin-top: 5px;
        }
        .levelButton {
            margin-top: -5px;
            vertical-align: middle;
        }
        .buttonPanel {
            padding-top: 10px;
        }
        .ui-button .ui-button-text {
            display: block;
            line-height: normal
        }

        .ui-button-text-only .ui-button-text {
            padding: .6em 1em
        }

        .ui-button-icon-only .ui-button-text {
            padding: .6em;
            text-indent: -9999999px
        }

        .ui-button-text-icon-left .ui-button-text {
            padding: .6em 1em .6em 2.1em
        }

        .ui-button-text-icon-right .ui-button-text {
            padding: .6em 2.1em .6em 1em
        }
    }
}
.buttonLine button {
    margin-right: 8px;
}
html, body { height: 100%; box-sizing: border-box }
body.themed{
    margin: 0;
    color: #512b2b;
    background: #ebe7e2;
    line-height: 20px;
    .placer {
        position: relative;
    }
    .middler {
        width: 100%;
        text-align: center;
    }
    .ui-chkbox {
        height: 18px;
    }

    .tableData .ui-tabs.ui-tabs-top {
        .ui-tabs-nav.ui-widget-header {
            width: 550px;
            white-space: normal;
            border-bottom: none;
        }
        .ui-tabs-panels {
            border-top: 1px solid #DDDDDD;
        }
    }
    fieldset.filterDivider {
        border: none;
        border-top: 1px solid #ddd;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        padding-top: 5px;
        color: #555;
        font-size: 12px;
        legend {
            margin-left: 15px;
        }
    }

    .ui-panelgrid tr {
        border: none;
    }

    .neutral,.fw-cancel,.fw-clear,.fw-refresh, .ui-confirmdialog-no, .ui-datepicker-trigger, .ui-fileupload.neutral *, .ui-fileupload-simple.neutral * {
        @at-root {
            &.ui-button,
            #{selector-unify(&, "button.ui-button.ui-state-default")},
            &.ui-button.ui-state-default,
            fieldset.fs-locking legend.ui-fieldset-legend.ui-state-default {
                color: #333333;
                background-color: #f5f5f5;
                *background-color: #e6e6e6;
                background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
                background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
                background-image: linear-gradient(top, #ffffff, #e6e6e6);
                background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
                background-repeat: repeat-x;
                border: 1px solid #bcbcbc;
                filter: unquote("progid: dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0)");
                filter: unquote("progid: dximagetransform.microsoft.gradient(enabled=false)");
                .ui-icon{
                    background-image:url("#\{resource['primefaces-bootstrap-blue:images/ui-icons_333333_256x240.png']\}");
                }
            }

            #{selector-unify(&, "button.ui-button.ui-state-hover")},
            &.ui-button.ui-state-hover,
            #{selector-unify(&, "button.ui-button.ui-state-focus")},
            &.ui-button.ui-state-focus {
                background-color: #e6e6e6;
                *background-color: #d9d9d9;
            }

            #{selector-unify(&, "button.ui-button.ui-state-active")},
            &.ui-button.ui-state-active {
                background-color: #cccccc \9;
            }
        }
    }
    .ui-state-error+.fw-refresh {
        margin-left: 32px;
    }
    .ui-message-error-icon, .ui-messages-error-icon {
        background-image: none;
        &:before {
            content: '\f057';
            font-family: FontAwesome;
            font-size: 26px;
        }
    }
    .ui-icon.ui-confirm-dialog-severity {
        font-size: 23px;
        width: 24px;
        height: 22px;
        text-shadow: 1px 1px 1px #334444, -1px -1px 1px #344, 1px -1px 1px #344, -1px 1px 1px #344;
        padding: 4px;
        margin-top: -5px;
    }

    .ui-tree {
        border: none;
    }
    .ui-button-text-icon-left .ui-icon.fa {
        margin-top: -8px;
    }
    .ui-messages-error {
        .ui-messages-error-icon {
            padding: 4px 0 0 0;
        }
    }
    .ui-message-icon-only {
        padding: 0 0 5px 0;
        background: transparent;
        border: none;
    }
    .ui-tree-droppoint.ui-state-hover {
        background-color:#333;
    }
    .halfPanel .formPanel .formLine {
        .value, input {
            width: 335px;
        }
    }
    tr.fw-footer, .ui-rowgroup-header {
        font-size: 12px;
        font-weight: bold;
    }
    tr.fw-footer, tr.ui-rowgroup-header {
        background-color: #ddd;
        background-image: none;
        border-color: #ccc!important;
        td {
            text-align: right;
            background: inherit;
            border-color: inherit;
        }
    }

    .formPanel {
        width: 100%;
        .datedValues {
            .theaders {
                label {
                    width: 148px;
                }
                .unit {
                    color:white;
                }
            }
            &.editable label:nth-of-type(2) {
                width: 191px;
            }
            .placer.formLine {
                width: 600px;
                &:first-child {
                    padding-top: 0;
                    margin-top: -4px;
                }
            }
            .dec-value {
                width:150px;
                margin-right: 2px;
                text-align: right;
                &.ui-state-error {
                    margin-right:-32px;
                    &+.ui-message-icon-only {
                        margin-right: 13px;
                    }
                }
            }
            .unit {
                margin-right: 10px;
                width: auto;
                display: inline-block;
                margin-top: 4px;
            }
            .ui-calendar{
                margin-right: 10px;
                input.hasDatepicker {
                    width:150px;
                }
                +.ui-message-icon-only {
                    margin-left: -72px;
                    margin-right: 57px;
                }
            }
            span.value {
                width:150px;
                min-height: 36px;
            }
            .formLine .right {
                bottom:3px;
                margin-right: 0;
                top:auto;
            }

        }
        &.hasCaptcha {
            .formLine {
                .value, input {
                    width: 302px;
                }
            }
            .captchaLine {
                position: relative;
                margin-top: 10px;
            }
            .captchaMessage {
                position: absolute;
                top:7px;
                left:270px;
                &.ui-message-error+div iframe {
                    border: 1px solid red;
                    width: 300px;
                    height: 75px;
                    border-radius: 3px;
                }
            }
        }
        .formLine {
            width: 100%;
            position: relative;
            label>.fw-breaker {
                height: 4px;
            }
            &>label>*:not(.ui-message):not(.ui-outputlabel-rfi) {
                margin-left: -2px;
            }
            span.value {
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                background-color: #f3f3f3!important;
                white-space: pre-wrap;
            }
            .value, input {
                width: 300px;
            }

            .tipped {
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
            .right {
                position: absolute;
                top: 10px;
                &.right1 {
                    right: 0;
                }
                &.right2 {
                    right: 40px;
                }
                &.right3 {
                    font-size:12px;
                    .ui-c {
                        padding: 0;
                        height: 5px
                    }
                    &.upHalf {
                        height: 16px;
                    }
                    &.downHalf {
                        top: 28px;
                        height: 16px;
                    }
                    right: 80px;
                    .fa-sort-down {
                        margin-top: -8px;

                    }
                    .fa-sort-up {
                        margin-top: -3px;
                        margin-bottom: -1px;
                    }
                }
            }
        }
        &.wide {
            .value, input, textarea {
                width: 600px;
                &.hasDatepicker {
                    width: 566px;
                }
            }
        }
    }
    legend.ui-fieldset-legend{
        padding-top: 2px;
        padding-bottom: 1px;
        border-radius: 10px;
        .ui-fieldset-toggler {
            margin-top: 2px;
        }
    }

    .ui-expanded-row-content .ui-tabs-panel {
        padding: 0;
    }
    li.ui-tabs-selected.ui-state-active a {
        font-weight: bold;
        outline: none;
    }
    .tableFilter>.ui-fieldset-content {
        position: relative;
        padding-bottom: 40px;
        .buttonLine {
            position: absolute;
            margin-bottom: 0;
            bottom: 0;
            left: 7px;
        }
    }
    .fw-tcell.fw-tcell-tipped {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    .taCounter {
        display: block;
    }
    .tableData {
        .iconButton {
            width: 18px;
            height: 21px;
            margin:1px;
            .ui-icon.fa {
                margin-top: -5px !important;
            }
        }
        .ui-column-title {
            white-space: pre;
            font-size: 12px;
            line-height: 12px;
            display: inline-block;
        }
        .ui-sortable-column-icon {
            position: absolute;
            right: 2px;
            bottom: 50%;
            margin-bottom: -8px;
        }
    }
    .element .formPanel.wide .buttonPanel {
        width: 600px;
        .buttonLine .fw-cancel{
            right:0;
            margin-right: 0;
        }
    }
    .propTypeOverlay .formPanel.wide .buttonPanel .buttonLine .fw-cancel{
        display:none;
    }
    .buttonPanel{
        width: 100%;
        .buttonLine {
            width: 100%;
            position: relative;
            .fw-cancel {
                position: absolute;
                right: 0;
            }
        }
    }
    .ui-widget-overlay {
        background: #000000;
        opacity: .20;
        filter: Alpha(Opacity=20);
    }
    .pageTitle, .ui-dialog-title {
        text-shadow: 0 0 8px #eaeaea;
    }
    h3.pageTitle {
        margin-bottom: 0;
    }
    .ui-dialog-titlebar-close {
        margin-top: 0!important;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .ui-dialog-title {
        font-size: 1.5em!important;
    }
    .ui-dialog-buttonpane {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        padding-left: 12px;
        .buttonLine {
            margin:0;
        }
    }
    .headName {
        display: inline-block;
        vertical-align: top;
        font-size: 1.7em;
        margin-top: 10px;
        color: #fff;
        font-weight: normal;
    }
    input[type="text"],input[type="password"],input[type="email"],input[type="tel"],
    input[type="number"],input[type="date"],input[type="textarea"],textarea,select,.input-file,.ui-selectonemenu,.ui-selectcheckboxmenu, .formPanel .formLine span.value {
        font-size: 14px;
        line-height: 20px;
        border: 1px solid #bcbcbc;
        border-radius: 3px;
        padding: 7px 9px;
        vertical-align: bottom;
        box-sizing: border-box;
        margin-top: -4px;
        margin-bottom: -4px;
        color: #262626;
        background: #fff;
        vertical-align: top;
        -webkit-appearance: none;
        &.ui-state-error {
            border-color: #b94a48;
            color: #b94a48;
            &.ui-state-focus {
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#c76d6b, 0.6);
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#c76d6b, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#c76d6b, 0.6);
            }
        }
    }
    .ui-spinner {
        input.ui-spinner-input {
            padding-right: 27px;
            width: 10em;
        }
        a.ui-spinner-button {
            padding:1px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            .ui-icon { left: 1px; }
            &.ui-spinner-up {
                border-bottom-right-radius: 0;
                top:-4px;
            }
            &.ui-spinner-down {
                border-top-right-radius: 0;
                top:14px;
            }
        }

    }
    .ui-selectonemenu,.ui-selectcheckboxmenu {
        padding-right: 29px!important;
    }
    .relativeCalendar {
        height: 36px;
        .ui-selectonemenu {
            .ui-selectonemenu-label {
                border: none;padding: 0;
                margin: 0;
                max-width: 100px!important;
                min-width: 100px!important;
                box-shadow: none;
            }
        }
        input {
            &.hasDatepicker {
                max-width: 0!important;
                min-width: 0!important;
                padding: 0;
                margin: 0;
                border: none;
            }
        }
    }
    .tableFilter {
        input, select, .ui-selectonemenu {
            margin-top: 0!important;
            max-width: 120px;
            min-width: 120px!important;

        }
        .filterPlace input {
            max-width: 211px;
        }
        .ui-panelgrid {
            td>label,td>.ui-outputpanel>label {
                display: inline-block;
                font-size: 12px;
            }
            td>label {
                margin-top: 9px;
            }
            td>.ui-outputpanel>label {
                margin-top: 4px;
            }
            table-layout: fixed!important;
        }
        .fw-op-select {
            width: 90px;
            min-width: 90px!important;
            label {
                font-size: 12px;
            }
        }
        .propDropDown {
            label {
                font-size: 12px;
            }
        }
        .ui-chkbox {
            margin-top: 6px;
        }
    }

    input[type="text"],input[type="password"],input[type="email"],input[type="tel"] {
        &.ui-state-error {
            padding-right:35px;
            margin-right:-32px;
            &+.ui-message-icon-only {
                margin-right: 11px;
            }
            &.hasDatepicker+button.ui-datepicker-trigger {
                margin-left: 32px;
            }
        }
    }
    .ui-calendar+.ui-message-icon-only {
        margin-left: -61px;
        margin-right: 37px;
    }
    .relativeCalendar+.ui-message-icon-only {
        margin-left: -87px;
        margin-right: 64px;
    }
    .ui-selectonemenu,.ui-selectcheckboxmenu {
        &.ui-state-error {
            padding-right:35px;
            margin-right:-53px;
            &+.ui-message-icon-only {
                margin-right: 32px;
            }
        }
    }
    .ui-spinner.ui-state-error {
        border: none!important;
        input {
            margin-right: -22px;
            padding-right: 49px;
        }
        .ui-spinner-button {
            right: -22px
        }
        &+.ui-message-icon-only {
            margin-left: -22px;
            margin-right: 28px;
        }
    }
    div.ui-selectonemenu,div.ui-selectcheckboxmenu  {
        outline: medium none;
        label {
            padding:0;
        }
        .ui-selectonemenu-trigger{
            outline: medium none;
            .ui-icon {
                margin-top: 9px;
            }
        }
    }
    .ui-selectcheckboxmenu-trigger{
        outline: medium none;
    }
    .ui-selectcheckboxmenu-multiple-container {
        border: none!important;
        box-shadow: none!important;
    }
    .ui-confirm-dialog-message {
        white-space: pre-wrap;
    }
    .ui-placeholder-panel {
        padding-top: 9px;
    }
    li.tab-plus {
        a:before {
            content: "\f067";
            font:normal normal normal 14px/1 FontAwesome;
            margin-right: 4px;
        }
    }
    fieldset.fs-locking {
        white-space: pre-wrap;
        margin-bottom: 4px;
        legend {
            font-weight: bold;
            &:before {
                margin-right: 4px;
                font:normal normal normal 14px/1 FontAwesome;
                content: "\f00d";
                color: #b94a48;
            }
        }
        &.status-invoices {
            legend:before {
                content: "\f00c";
                color: darkgreen;
            }
        }
    }
    li.tab-classifier {
        a:before {
            content: "\f02c";
            font:normal normal normal 14px/1 FontAwesome;
            margin-right: 4px;
        }
    }
    th.editable-col  {
        span.ui-column-title:before {
            content: "\f044";
            font:normal normal normal 16px/1 FontAwesome;
            position: absolute;
            left: 4px;
            bottom: 50%;
            margin-bottom: -8px;
            font-weight: bold;
        }
    }
    .ui-confirm-dialog-message {
        display: inline;
    }
    .ui-confirm-dialog {
        max-width: 600px;
    }
    .ui-state-error .ui-cell-editor-input input {
        background-color: #f2dede;
    }
    .ui-progressbar {
        margin-right: 20px;
    }
    .bare-icon-button {
        width: 1.1em!important;
        height: 1.1em!important;
        margin-top: 1px!important;
        background-image: none!important;
        background-color: transparent!important;
        border: none!important;
        box-shadow: none!important;
        outline: none!important;
    }
}
.global-filter-right {
    .fw-table-utils-container {
        position: relative;
        height: 50px;
        .tableUtils {
            width:50%!important;
            position: absolute;

            &.tableUtils{
                &.right-align {
                    display: block;
                    right: 0;
                    top:0;
                }
                &:not(.right-align) {
                    margin-top: 22px;
                }
            }
        }
    }
}
.global-filter-left {
    .fw-table-utils-container {
        position: relative;
        height: 50px;
        .tableUtils {
            right: 0;
            top:0;
            position: absolute;
            width: 75%;
            button {
                top: -8px!important;
            }
            @at-root {
                .multi-edit & {
                    width: 100%;
                }
            }

        }
        .tableUtils.right-align {
            display: block;
            position: absolute;
            text-align: left;
            align-content: flex-start;
            left: 0;
            top:0;
            width: 25%;
            @at-root {
                .multi-edit & {
                    width: 0;
                }
            }
        }

    }
}

#page_header {
    width: 100%;
    position: relative;
    background-color:#fff;
    &>.contents {
        height: 50px;
        padding: 10px 5px 5px 5px;
        z-index: 2;
        zoom: 1;
        &:before {
            top: 0;
            height: 5px;
        }
        &:after {
            bottom: -35px;
            height: 35px;
            box-shadow: 0 2px 4px -2px rgba(0,0,0,.3);
        }
        &:before,&:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }
}

#right_head {
    display: table;
    float: right;
    height: 100%;
    .shell {
        padding-right: 20px;
        display: table-cell;
        vertical-align: middle;
        form>* {
            vertical-align: middle;
        }
        .logout {
            text-decoration: none;
            color: #333;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@each $key, $value in $themes {
    @include theme($key, $value);
}
@mixin themePicker($name, $color) {
    &.theme-#{$name} div {
        background-color: $color;
    }
}

.officeLogo,.officeFav{
    display: inline-block;
    position: relative;
    float: left;
    &>div{
        padding: 10px 20px;
        border: 1px solid #bcbcbc;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    &>img, &>div {
        margin-right:20px;
    }
    img{
        max-height: 50px;
        display: block;
    }
    button {
        background-image: none!important;
        background-color: transparent!important;
        color: #333!important;
        position: absolute;
        top: 0;
        right: 20px;
        border: none!important;
        padding: 0!important;
        width: 20px;
        height: 20px;
        .ui-button-text {
            height: 0;
        }
        .ui-button-icon-left {
            margin-top: -3px!important;
        }
    }
}
.logoUpload {
    width: 400px;
    display: inline-block;
    vertical-align: top!important;
    border:none;
    .ui-fileupload-buttonbar,.ui-fileupload-content {
        background-color: transparent;
        border:none;
        padding-left: 0;
        padding-top: 0;
    }
    .ui-fileupload-files {
        margin-bottom: 0;
    }
    .ui-button-text-icon-left .ui-button-text {
        font-weight: normal;
    }
}
.theme-picker {
    padding: 4px!important;
    div {
        width: 18px;
        height: 18px;
    }
    @each $key, $value in $themes {
        @include themePicker($key, $value);
    }
}
div.contents {
    width: 1024px;
    margin: auto;
}

#navBar {
    height: 35px;
    bottom: -35px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    &>.contents {
        padding-top: 8px;
        height: 25px;
    }
    .navLink {
        margin-right: 20px;
        color: #333;
        height: 100%;
        display: inline-block;
        &.right {
            float: right;
        }
        &.active {
            border-bottom: 2px solid;
        }
        &.langLink {
            text-transform: uppercase;
            font-size: .9em;
            &.first {
                padding-left: 20px;
                height: 75%;
            }
        }
    }
}


#page_body {
    padding-top: 35px;
    &>.contents {
        position: relative;
    }
}

#page_left_column {
    width: 219px;
    background-color: #fff;
    position: absolute;
    left: 0;
    margin-left: -20px;
    top: 0;
    .ui-menu {
        width: 100%;
        border: none;
        .ui-widget-header {
            h3 {
                width: 191px;
                padding-left: 20px;
                font-weight: normal;
                font-size: 1.2em;
                .fa {
                    float: right;
                    padding-top: 2px;
                    margin-right: 5px;
                }
            }
        }
        .ui-menuitem-text {
            margin: 0;
        }
        li > .ui-menuitem-link {
            padding-left: 20px;
            &.ui-state-hover {
                background-color: initial;
                color: initial;
                background-image: none;
                .ui-menuitem-text {
                    text-decoration: underline!important;
                }
                border-left-width:2px;
                padding-left: 18px;
            }
        }
    }
}

#page_content {
    width: 815px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    margin-right: -20px;

    >.element {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 15px;
        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    }
    &.wide {
        left:0;
        width: 1064px;
        margin-left: -20px;
    }
}

.langButton {
    margin-left: 4px;
    vertical-align:top;
    .ui-button {
        margin-top: -4px!important;
    }
    .ui-button-text {
        font-family: FontAwesome;
        font-size: 16px;
        padding-top: 8px;
        height: 34px;
        box-sizing: border-box;
    }
}
.ltTextEdit .langButton .ui-button {
    margin-top: 15px!important;
}
.langMenu.ui-menu.ui-widget {
    width: 62px;
    min-width: 60px;
}
.langBullet {
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 2px 4px 6px 4px;
    border:1px solid;
    border-radius: 13px;
    text-align: center;
    margin-top: -1px;
}
.langBlock {
    input,textarea {
        margin-top: 0px!important;
        margin-bottom: 0!important;
        padding-left: 35px!important;
    }
    .langLine {
        position: relative;
        .langBullet {
            position: absolute;
            left: 4px;
            top: 6px;
        }
    }
}
.descTextEdit {
    textarea {
        margin-bottom: 0!important;
    }
}
table.about {
    tr {
        border: none;
    }
    td {
        padding: 7px 6px!important;
        vertical-align: top;
        &:first-child {
            text-align: right;
            white-space: nowrap;
        }
    }
}
.ui-expanded-row-content .ui-tabs-panel .ui-expanded-row-content>td>.placer, .ui-expanded-row-content .no-tabs.placer {
    padding-top: 7px;
}
button, a, div {
    &.aright {
        position: absolute;
        z-index: 1001;
        margin-top: 5px;
        @at-root {
            .ui-expanded-row-content & {
                right: 10px;
            }
            .ui-expanded-row-content .ui-tabs-panel & {
                right: -2px;
            }
            .ui-expanded-row-content .ui-tabs-panel .ui-expanded-row-content .placer &, .ui-expanded-row-content .no-tabs.placer &{
                right: 0;
                top: 40px;
            }
            .ui-expanded-row-content .ui-tabs-panel .ui-expanded-row-content td>.placer>&,
            .ui-expanded-row-content .ui-tabs-panel .ui-expanded-row-content td>.placer .delBtnWrapper &,
            .ui-expanded-row-content .no-tabs.placer .delBtnWrapper & {
                top:0;
            }
            .tableUtils>& {
                top: 0!important;
            }
        }
    }
}
.billing-basic-data-table .tableUtils {
    width: 100%;
    min-height: 24px;
    margin-top: 15px;
    box-sizing: border-box;
    .progress {
        margin-top:15px;
        position: relative;
        width: 650px;
    }
    &.right-align {
        display: none;
    }
    button, a, div {
        &.aright {
            right: 0;
            top: 0px;
            margin-right: 0;
            button {
                margin-right: 0;
                margin-left: .1em;
            }
        }
    }
    div.aright {
        button {
            margin-top: 0;
        }
    }
}

.tableUtils a.ui-link {
    padding: 4px;
    &:hover, &:focus {
        text-decoration: none;
    }
    &:hover {
        color: #005580;
    }

    &:focus {
        color: #08c;
    }
}

.placeSelect {
    .ui-selectonemenu {
        min-width:75px!important;
        width: 95px;
    }
    .ui-autocomplete input {
        width: 505px!important;
    }
}
.tableData>.ui-datatable-tablewrapper {
    overflow: hidden;
}
.line-add-button {
    float: right;
    margin-top: -37px;
    margin-right: -37px;
}
.chapter-archived {
    color: darkgrey;
}
.message-draft {
    color: darkgrey;
}
.message-unread {
    font-weight: bold;
}
.compu-log-err td:nth-child(2) span:before {
    content: '\f057';
    font-family: FontAwesome;
    font-size: 16px;
    color: #b94a48;
    margin-right: 4px;
}
.compu-log-warn td:nth-child(2) span:before {
    content: '\f071';
    font-family: FontAwesome;
    font-size: 16px;
    color: #ffa500;
    margin-right: 4px;
}
#propForm\:prtbl\:messdata {
    .formPanel div .formLine:first-child {
        width: max-content;
        float: left;
        span.value {
            width: max-content;
        }
    }
}

.theme-panel table tbody tr:first-child:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: map-get($themes,'default');
    display: block;
    margin: 4px;
}

div.emulateTabView {
    .ui-tabs {
        border-bottom: none;
        &+div {
            padding-bottom: 14px;
            border-bottom: 1px solid #ddd;
        }
    }
    .ui-tabs-panel {
        padding-bottom: 0;
    }
}
.tableData .ui-cell-editor-input input {
    width: 100%;
    height: 100%;
    margin-top: 0!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.tableData tbody td.editable-col {
    box-shadow: inset 1px 1px #bcbcbc,inset -1px -1px #bcbcbc;
}



